:root{
    background-color: yellow;
    font-family: Arial, sans-serif;

}

#titulo{
    text-align: center;
}
#jogador{

font-size: 26px;
text-align: center;
}
#jogador img {
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}
#options{   
font-size: 30px;
}

#options input{
    min-width: 20px;
    min-height: 20px;
    margin-right: 5px;
}
}

#botoes{
text-align: center;
}

#botoes input{
border: 2px black solid;
border-radius: 10px;
width: 100px;
height: 50px;    
    
}
#botao1{
    background-color: lightgreen;
}

#botao2{
    background: lightcoral;
}

#maquina{
    text-align: center;
    font-size: 26px;
}

#maquina img{
    max-width: 300px;
    max-height: 300px;
}

#resultado {
    text-align: center;
    font-size: 26px;
}

#resultado h2{
    color: blue;
}

